USE [master]
GO
/****** Object:  Database [Libros]    Script Date: 27/05/2025 02:07:34 p. m. ******/
CREATE DATABASE [Libros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Libros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Libros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Libros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Libros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libros]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 27/05/2025 02:07:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[TituloLibro] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](600) NULL,
	[Autor] [nvarchar](250) NOT NULL,
	[Genero] [nvarchar](50) NOT NULL,
	[FechaPublicacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([IdLibro], [TituloLibro], [Descripcion], [Autor], [Genero], [FechaPublicacion]) VALUES (1, N'Titulo Libro 1', N'Descripción Libro 1', N'Autor Libro 1', N'Genero Libro 1', CAST(N'2024-05-01' AS Date))
INSERT [dbo].[Libros] ([IdLibro], [TituloLibro], [Descripcion], [Autor], [Genero], [FechaPublicacion]) VALUES (2, N'Titulo Libro 2', N'Descripción Libro 2', N'Autor Libro 2', N'Genero Libro 2', CAST(N'2020-06-29' AS Date))
INSERT [dbo].[Libros] ([IdLibro], [TituloLibro], [Descripcion], [Autor], [Genero], [FechaPublicacion]) VALUES (3, N'Titulo Libro 3', N'Descripción Libro 3', N'Autor Libro 3', N'Genero Libro 3', CAST(N'2023-01-15' AS Date))
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
USE [master]
GO
